<h1><a href="{% url 'home' %}">InfoSphere</a></h1>

{% if request.user.is_authenticated %}
{% if request.user.is_staff %}
    <a href="{% url 'staff_home' %}">Home</a> / 
{% else %}
    <a href="{% url 'user_home' %}">Home</a> / 
{% endif %}
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Log out">
</form>
{% else %}
    <a href="{% url 'home' %}">Home</a> / 
    <a href="{% url 'user_register' %}">Get Started</a> / 
    <a href="{% url 'login' %}">Log in</a>
{% endif %}

{% if messages %}
<ul>
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
<hr>
{% block content %}
{% endblock %}
